{% extends "base.html" %}


{% block title %}Fruits{% endblock %}

{% block content %}
    <h1>Fruits Page</h1>
    <br>
    <form method="post">
        <!-- <button type="submit">Save</button> -->
        <button type="submit" onclick="add_fruit()">Add Fruit</button>
        <input type="text" name="test" value="">
        <table id="fruit-table" name="fruit" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody id="fruit-body" name="fruit-body">
                <tr>
                    <td>Apple</td>
                    <input type="hidden" name="apple" value="different_value"/>
                </tr>
                <tr>
                    <td>Orange</td>
                    <input type="hidden" name="orange" value="orange"/>
                </tr>
                <tr>
                    <td>Strawberry</td>
                </tr>
            </tbody>
        </table>
    </form>
    
    <script>
        function add_fruit(){
            var input = document.createElement("input");
            input.setAttribute('type', 'hidden');
            input.name = 'fruit_input';
            input.value = 'Peach';
            document.getElementById('fruit-body').appendChild(input);
            console.log(input);
        }
    </script>




    
{% endblock %}
    
