{% extends "base.html" %}
{% block title %}Songs{% endblock %}

{% block content %}
    <h1>Songs</h1>
    <div class="container" id="add_song_button" style="padding-left: 0px">
        <a href="/new_song">
            <button class="btn btn-primary">Add New Song</button>
        </a>

    </div>
    <br>
    <style>
        tr:hover {background-color:greenyellow}
    </style>
    <table id="song_data" class="table">
        <thead>
            <tr>
                <th>Song ID</th>
                <th>Name</th>
                <th>Artist</th>
            </tr>
        </thead>
        <tbody>
        </tbody>

    </table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready( function () {
        $('#song_data').DataTable({
            ajax: '/api/data',
            serverSide: true,
            columns: [
                {data: 'id'},
                {data: 'name'},
                {data: 'artist'}
            ],
            dom: 'Bfrtip',
            buttons: ['colvis']
        });

        $('#song_data tbody').on('click', 'tr', function(){
            var data = $('#song_data').DataTable().row( this ).data();
            swal("Great Choice!", "You chose the song " + data.name + " by " + data.artist);
        });
    });

</script>
{% endblock %}