{% extends "base.html" %}
{% block title %}Songs{% endblock %}

{% block content %}
    <h1>Songs</h1>
    <div class="container" id="add_song_button" style="padding-left: 0px">
        <a href="/new_song">
            <button class="btn btn-primary">Add New Song</button>
        </a>

    </div>
    <br>
    <style>
        tr:hover {background-color:greenyellow}
    </style>
    <table id="song_data" class="table">
        <thead>
            <tr>
                <th>Song ID</th>
                <th>Track ID</th>
                <th>Name</th>
                <th>Artist</th>
                <th>Lyrics</th>
                <th>Album ID</th>
                <th>Album Name</th>
                <th>PlayList Name</th>
                <th>Playlist ID</th>
                <th>Playlist Genre</th>
                <th>Playlist Subgenre</th>
                <th>Danceability</th>
                <th>Energy</th>
                <th>Key</th>
                <th>Loudness</th>
                <th>Mode</th>
                <th>Speechiness</th>
                <th>Acousticness</th>
                <th>Instrumentalness</th>
                <th>Liveness</th>
                <th>Valence</th>
                <th>Tempo</th>
                <th>Duration (ms)</th>
                <th>Language</th>
            </tr>
        </thead>
        <tbody>
        </tbody>

    </table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready( function () {
        $('#song_data').DataTable({
            ajax: '/api/data',
            serverSide: true,
            columns: [
                {data: 'id'},
                {data: 'track_id', visible: false},
                {data: 'track_name'},
                {data: 'track_artist'},
                {data: 'lyrics', visible: false},
                {data: 'track_album_id', visible: false},
                {data: 'track_album_name', visible: false},
                {data: 'playlist_name', visible: false},
                {data: 'playlist_id', visible: false},
                {data: 'playlist_genre', visible: false},
                {data: 'playlist_subgenre', visible: false},
                {data: 'danceability', visible: false},
                {data: 'energy', visible: false},
                {data: 'key', visible: false},
                {data: 'loudness', visible: false},
                {data: 'mode', visible: false},
                {data: 'speechiness', visible: false},
                {data: 'acousticness', visible: false},
                {data: 'instrumentalness', visible: false},
                {data: 'liveness', visible: false},
                {data: 'valence', visible: false},
                {data: 'tempo', visible: false},
                {data: 'duration_ms', visible: false},
                {data: 'language', visible: false},
                
            ],
            dom: 'Bfrtip',
            buttons: ['colvis']
        });

        $('#song_data tbody').on('click', 'tr', function(){
            var data = $('#song_data').DataTable().row( this ).data();
            swal("Great Choice!", "You chose the song " + data.track_name + " by " + data.track_artist);
        });
    });

</script>
{% endblock %}